on: [workflow_dispatch]

jobs:
  provision_aws_eks_cluster:
    runs-on: ubuntu-latest
    name: Provision an AWS EKS cluster
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Provision AWS EKS
        id: aws-eks-provisioner
        uses: ./
        with:
          args: ${{ secrets.TF_API_TOKEN }}
